.produto:hover {
    cursor: pointer
}

.alinhamento {
    justify-content: space-between;
    padding: 10px;
}

.back {
    background-color: black;
}

.centro {
    align-content: center;
}

.carousel-inner img {
    margin: auto;
}

.slider {
    height: 400px;
    overflow: hidden;
    height: 260px;
    width: 230px;
}